<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理综合系统</title>
</head>
<body>
<h1>用户管理综合系统</h1>
<table border="1">
    <thead>
    <th>ID</th>
    <th>姓名</th>
    <th>密码</th>
    <th>年龄</th>
    <th>操作</th>
    </thead>
    <tbody>
        {% for i in data_liat %}
            <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.password }}</td>
            <td>{{ i.age }}</td>
            <td><a href="http://127.0.0.1:8000/user_management_delete/?nid={{ i.id }}">删除</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/user_management_add/">继续添加</a>
</body>
</html>